.hero {
  background-color: #141414;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hr {
  height: 1px;
  background-color: $silver-color;
  width: 100%;
  max-width: 111rem;
  opacity: 20%;
}
.hero__content {
  width: 39.8rem;
}
.hero__label {
  margin-bottom: 2.4rem;
  color: $wihte-color;
  opacity: 0.5;
  font-size: $tetle-label-fs;
  font-weight: 400;
  line-height: $title-label-lh;
  letter-spacing: $tetle-label-ls;
}
.hero__title {
  margin-bottom: 2.4rem;
  color: $wihte-color;
  text-transform: uppercase;
}
.hero__description {
  color: $wihte-color;
  opacity: 0.75;
  margin-bottom: 4rem;
  width: 34.9rem;
  //   font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.btn {
}
.btn-orange {
  border: 0;
}
.hero__img {
  width: 68.5rem;
  height: 63rem;
  background-image: url("../images/home/desktop/img-hero.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.orange-section {
  margin-bottom: 4.8rem;
}
.orange-section__container {
  width: 111rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13.8rem;
  background-color: $dark-orange-color;
  border-radius: 8px;
  img {
    margin-top: 9.6rem;
    margin-bottom: -0.3rem;
  }
}
.orange-section__content {
  width: 34.9rem;
  height: 30.3rem;
  color: $wihte-color;
}
.orenge-section__title {
  margin-bottom: 2.4rem;
}
.orange-section__description {
  opacity: 0.75;
  line-height: 2.5rem;
  margin-bottom: 5rem;
}
.orange-black-btn {
  background-color: $dark-color;
  color: $wihte-color;
  &:hover {
    background-color: #4c4c4c;
    border: 1px solid #4c4c4c;
  }
}
.ZX7-speaker {
  margin-bottom: 4.8rem;
}
.ZX7-speaker__container {
  height: 32rem;
  border-radius: 8px;
  padding: 9.65rem 10.1rem;
  width: 111rem;
  background-image: url("../images/home/desktop/image-speaker-zx7.jpg");
}
.ZX7-speaker__title {
  // padding-top: 10.1rem;
}
.btn-black {
  display: inline-block;
  margin-top: 4rem;
}
.YX1-earphones {
  margin-bottom: 20rem;
}
.YX1-earphones__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.YX1-earphones__img {
  background-image: url("../images/home/desktop/image-earphones-yx1.jpg");
}
.YX1-earphones__card {
  width: 54rem;
  height: 32rem;
  border-radius: 8px;
}
.YX1-earphones__content {
  padding: 9.65rem 10.1rem;
  background-color: $silver-color;
}
.page__hero {
  background-color: #141414;
  margin-bottom: 16rem;
}
.page__container {
  display: flex;
  justify-content: center;
  padding-top: 9.7rem;
  padding-bottom: 9.8rem;
}
.page__title {
  color: $wihte-color;
}
.product {
}
.product__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16rem;
}
.product__img {
  border-radius: 8px;
  width: 54rem;
  height: 56rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.one {
  background-image: url("../images/product-xx99-mark-two-headphones/desktop/image-category-page-preview.jpg");
}
.two {
  background-image: url("../images/product-xx99-mark-one-headphones/desktop/image-category-page-preview.jpg");
}
.three {
  background-image: url("../images/product-xx59-headphones/desktop/image-category-page-preview.jpg");
}
.four {
  background-image: url("../images/product-zx9-speaker/desktop/image-category-page-preview.jpg");
}
.five {
  background-image: url("../images/product-zx7-speaker/desktop/image-category-page-preview.jpg");
}
.lest {
  background-image: url("../images/product-yx1-earphones/desktop/image-category-page-preview.jpg");
}
.content {
  width: 44.5rem;
}
.product__label {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1rem;
  color: $dark-orange-color;
  margin-bottom: 1.6rem;
}
.product__title {
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}
.product__description {
  color: $dark-color;
  font-size: 1.5rem;
  line-height: 2.5rem;
  opacity: 0.5;
  margin-bottom: 6rem;
}
.back {
  margin-top: 7.9rem;
  margin-bottom: 5.6rem;
}
.container {
}
.back__link {
  opacity: 0.5;
  color: $dark-color;
  font-size: 1.5rem;
  font-weight: 500;
}
.price {
  margin-top: 3.2rem;
  margin-bottom: 4.7rem;
}
.selection {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.counter {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: $silver-color;
  font-size: 1.3rem;
  font-weight: 700;
  width: 12rem;
  height: 4.8rem;
  button {
    border: 0;
    cursor: pointer;
    opacity: 0.25;
  }
}
.featue {
}
.feature__container {
  display: flex;
  gap: 12.5rem;
}
.feature__left {
  width: 62.5rem;
  height: 31.8rem;
}
.feture__title {
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}
.feature__description {
  line-height: 2.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  opacity: 0.5;
}
.feature__list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.feature__item {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  line-height: 2.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  p {
    opacity: 0.5;
  }
  span {
    color: $dark-orange-color;
    font-weight: 700;
  }
}
.images {
  margin-top: 16rem;
}
.images__container {
  display: flex;
  gap: 3rem;
}
.images__left {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.images__small {
  width: 44.5rem;
  height: 28rem;
  border-radius: 8px;
}
.images__right {
  border-radius: 8px;
}
.explanation {
}
.explanation__container {
}
.explanation__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6.4rem;
  margin-top: 16rem;
}
.explanation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.explanation__item {
  img {
    width: 35rem;
    height: 31.8rem;
    border-radius: 8px;
  }
  h5 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
.btn-orange {
}
